{% extends 'admin/admin_base.html' %}
{% block content %}

    <!-- Heading + Actions -->
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div>
            <h2 class="fw-bold">Dashboard Overview</h2>
            <p class="text-secondary">Welcome back, {{request.user.get_full_name}}! Here's a summary.</p>
        </div>

    </div>

    <!-- Stats Cards -->
    <div class="row mt-4 g-4">
        <div class="col-lg-3 col-sm-6">
            <div class="bg-card p-4">
                <small>Total Revenue</small>
                <h2>Rs.{{total_revenue|floatformat:2}}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="bg-card p-4">
                <small>New Orders</small>
                <h2>{{new_orders}}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="bg-card p-4">
                <small>Avg Order Value</small>
                <h2>Rs.{{avg_order_value|floatformat:2}}</h2>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="bg-card p-4">
                <small>New Customers</small>
                <h2>{{new_customers}}</h2>
            </div>
        </div>
    </div>

    <!-- Recent Orders -->
    <div class="bg-card p-4 mt-4">
        <h5>Recent Orders</h5>
        <table class="table table-dark table-sm align-middle">
            <thead>
                <tr>
                    <th>Order ID</th><th>Customer</th><th>Date</th><th>Total</th><th>Status</th><th></th>
                </tr>
            </thead>
            <tbody> 
                {%for order in recent_orders%}
                <tr>
                    <td>#{{order.id}}</td>
                    <td>{{order.user.first_name}}</td>
                    <td>{{order.created_at|date:"M d, Y"}}</td>
                    <td>Rs.{{order.total}}</td>
                    <td><span class="badge 
                        {%if order.status == 'delivered'%}bg-success
                        {%elif order.status == 'shipped'%}bg-info
                        {%elif order.status == 'cancelled'%}bg-danger
                        {%else%}bg-secondary{%endif%}">{{order.status|title}}</span></td>
                    <td><a class="text-success" href="{%url 'order_detail' order.id%}">View</a></td>
                </tr>
                {%empty%}
                <tr>
                    <td colspan="6" class="text-center text-muted">
                        No recent orders
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}