<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to Razorpay...</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
{% if messages %}
  {% for message in messages %}
    {% if 'admin' not in message.tags %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<body>

<p>Redirecting to payment gateway...</p>

<form id="razorpay-form" method="POST" action="{% url 'verify_razorpay' %}">
    {% csrf_token %}
    <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
    <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
    <input type="hidden" name="razorpay_signature" id="razorpay_signature">
</form>

<script>
    var options = {
        "key": "{{ razorpay_key }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "name": "Classic Jerseys",
        "order_id": "{{ razorpay_order_id }}",
        "handler": function (response){
            document.getElementById("razorpay_payment_id").value = response.razorpay_payment_id;
            document.getElementById("razorpay_order_id").value = response.razorpay_order_id;
            document.getElementById("razorpay_signature").value = response.razorpay_signature;
            document.getElementById("razorpay-form").submit();
        },
        "theme": {
            "color": "#1b4b29"
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();  
</script>

</body>
</html>
